# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out

# production
dist
build

# misc
.DS_Store
*.log
.vscode

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# deploy
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
